@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
